.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  gap: 15px;
}
input {
  width: 230px;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button {
  width: 100px;
  padding: 4px;
  height: 35px;
  cursor: pointer;
}
button[type="submit"] {
  background-color: rgb(48, 191, 48);
  border: 0px;
}
button[type="button"] {
  background-color: red;
  border: 0px;
}
